
<footer>
  <small>
    by Hussin saheb
  </small>
  <nav class="footer">
    <ul>
      <li><%= link_to "About",   'https://www.softwareacademy.co.uk/accredited-qualification.html' %></li>
      <li><%= link_to "Contact", 'https://www.softwareacademy.co.uk/contact.html' %></li>
    </ul>
  </nav>
</footer>
